{{- $pageurl := .Permalink }}
{{- $title := .Title }}

{{- $.Scratch.Set "tags" ""}}

{{- with .Params.Tags }}
{{- $hashtags := newScratch}}
{{- range . }}{{ $hashtags.Add "tags" (slice (replaceRE "(\\s)" "" . ))}}{{end}}
{{- $.Scratch.Set "tags" (delimit ($hashtags.Get "tags") ",") }}
{{- end -}}

{{- $custom := false }}
{{- $ShareButtons := (.Param "ShareButtons")}}
{{- with $ShareButtons }}{{ $custom = true }}{{ end }}

<style>
    .share-buttons {
        display: flex;
        gap: 1.5rem;
        padding: 0;
        margin: 1rem 0;
        list-style: none;
    }

    .share-buttons li a {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .share-buttons .fab {
        font-size: 1.75rem; 
        width: 3rem;        
        height: 3rem;        
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.2s;
    }

    .share-buttons .fab:hover {
        transform: scale(0.9);
    }
</style>

<ul class="share-buttons">
    {{- if (or (cond ($custom) (in $ShareButtons "x") (true)) (cond ($custom) (in $ShareButtons "twitter") (true))) }}
    <li>
        <a target="_blank" rel="noopener noreferrer" aria-label="share {{ $title | plainify }} on x"
            href="https://x.com/intent/tweet/?text={{ $title }}&amp;url={{ $pageurl }}&amp;hashtags={{- $.Scratch.Get "tags" -}}">
            <i class="fab fa-x-twitter"></i>
        </a>
    </li>
    {{- end }}
    {{- if (or (cond ($custom) (in $ShareButtons "bluesky") (true)) (cond ($custom) (in $ShareButtons "bluesky") (true))) }}
    <li>
        <a target="_blank" rel="noopener noreferrer" aria-label="share {{ $title | plainify }} on bluesky"
            href="https://bsky.app/intent/compose?text={{ $title }}%0A{{ $pageurl }}&amp;url={{ $pageurl }}&amp;hashtags={{- $.Scratch.Get "tags" -}}">
            <i class="fab fa-bluesky"></i>
        </a>
    </li>
    {{- end }}
    {{- if (cond ($custom) (in $ShareButtons "linkedin") (true)) }}
    <li>
        <a target="_blank" rel="noopener noreferrer" aria-label="share {{ $title | plainify }} on linkedin"
            href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ $pageurl }}&amp;title={{ $title }}&amp;summary={{ $title }}&amp;source={{ $pageurl }}">
            <i class="fab fa-linkedin"></i>
        </a>
    </li>
    {{- end }}
    {{- if (cond ($custom) (in $ShareButtons "reddit") (true)) }}
    <li>
        <a target="_blank" rel="noopener noreferrer" aria-label="share {{ $title | plainify }} on reddit"
            href="https://reddit.com/submit?url={{ $pageurl }}&title={{ $title }}">
            <i class="fab fa-reddit"></i>
        </a>
    </li>
    {{- end }}
    {{- if (cond ($custom) (in $ShareButtons "facebook") (true)) }}
    <li>
        <a target="_blank" rel="noopener noreferrer" aria-label="share {{ $title | plainify }} on facebook"
            href="https://facebook.com/sharer/sharer.php?u={{ $pageurl }}">
            <i class="fab fa-facebook"></i>
        </a>
    </li>
    {{- end }}
    {{- if (cond ($custom) (in $ShareButtons "whatsapp") (true)) }}
    <li>
        <a target="_blank" rel="noopener noreferrer" aria-label="share {{ $title | plainify }} on whatsapp"
            href="https://api.whatsapp.com/send?text={{ $title }}%20-%20{{ $pageurl }}">
            <i class="fab fa-whatsapp"></i>
        </a>
    </li>
    {{- end }}
    {{- if (cond ($custom) (in $ShareButtons "telegram") (true)) }}
    <li>
        <a target="_blank" rel="noopener noreferrer" aria-label="share {{ $title | plainify }} on telegram"
            href="https://telegram.me/share/url?text={{ $title }}&amp;url={{ $pageurl }}">
            <i class="fab fa-telegram"></i>
        </a>
    </li>
    {{- end }}
    {{- if (cond ($custom) (in $ShareButtons "ycombinator") (true)) }}
    <li>
        <a target="_blank" rel="noopener noreferrer" aria-label="share {{ $title | plainify }} on ycombinator"
            href="https://news.ycombinator.com/submitlink?t={{ $title }}&u={{ $pageurl }}">
            <i class="fab fa-hacker-news"></i>
        </a>
    </li>
    {{- end }}
</ul>
